<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Inventario<span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" routerLink="list-supplier">Proveedores</a>
      <a class="nav-item nav-link" routerLink="list-user">Trabajadores</a>
      <a class="nav-item nav-link" routerLink="list-client">Clientes</a>
      <a class="nav-item nav-link" routerLink="list-entry">Entradas</a>
      <a class="nav-item nav-link" routerLink="list-output">Salidas</a>
      <a class="nav-item nav-link" routerLink="list-sale">Ventas</a>

    </div>
  </nav>
  <div class="container">
    Contenido
    <router-outlet></router-outlet>
  </div>